fieldset {
    color: #ae55db;
    border: solid 2px #d279ff;
    background: linear-gradient(#ef8ced, rgb(247, 182, 247), #dda1d1);
    width: 100px;
    margin: auto;
    border-radius: 3ch;
    position: relative;
    padding: 50px 90px 30px;
    font-family: "Poppins", sans-serif;
    text-align: center;

}

fieldset h2{
    font-family: "Poppins", sans-serif;
     text-align: center;
}

input{
    background-color: #eeeeee;   
}
h5{
    font-family: "Poppins", sans-serif;
}

.radio{
    color: rgb(49, 49, 47);
}
label{
    font-family: "Poppins", sans-serif;
    color: rgb(49, 49, 47);
}
