* {
    font-family: 'Gill Sans';
}

body {
    margin: auto;
    min-height: 100vh;
    font-size: 100%;
    /*  background-color: rgb(186, 129, 192);*/
    background: linear-gradient(#cb62ff, #d47cff, #dc96ff, #e5b0ff, #eecbff, #f6e5ff);
}

main {
    flex-wrap: wrap;
    margin: 20px 30px;
    background: linear-gradient(#afff9b, #caffbd, #e4ffde);
    border-radius: 5ch;
}


header h1 {
    text-align: left;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

header {
    display: flex;
    margin: 0 0px 15px 20px;
    justify-content: left;
    background-color: transparent;
    height: 60px;



}

.menu {
    justify-content: space-between;
    display: flex;
    width: 98.7vw;
    height: 74px;
    flex-wrap: wrap;
    margin: -76px 0px 16px;
    align-items: center;
    background-color: transparent;

}

.menu_items {
    display: flex;
    padding: 2px 47px 2px 235px;
    align-items: center;

}

.menu_items li {
    border-radius: 3px;
    margin: 3px 41px -13px 22px;
    list-style: none;

}


.menu_items li a {
    display: block;
    text-decoration: none;
    font-size: 18px;
    margin-left: 45px;
    margin-bottom: 5px;
}

.menu_items a {
    color: rgb(49, 56, 49);
    background-color: transparent;
    padding: 8px 6px 8px 6px;
    border-radius: 5ch;
    margin-bottom: 20px;

}

.main {
    margin: 20px;
    padding: 30px;
}

.articulos {
    margin: auto;
    padding: 30px 0;
    justify-content: center;
}

.articulos h2 {
    text-align: center;
    justify-content: center;
    margin: auto;
    padding: 5px 0;
    font-size: 35px;
}


.articulos h3 {
    text-align: center;
    margin: auto;
    padding: 5px 0;
    font-size: 20px;
    text-indent: 40px;
}

.articulos p {
    justify-items: center;
    margin: 15px 14px;
    font-family: 'Lucida Sans Unicode';

}

.articulo1 {
    border: solid 5px #659d55;
    margin: 40px 500px 40px 106px;
    display: inline-block;
    margin-left: 0;
    padding-left: 0;
    border-radius: 5ch;
}

.articulo2 {
    border: solid 5px #659d55;
    margin: 100px 200px 40px 400px;
    display: inline-block;
    margin-right: 0;
    padding-right: 0;
    border-radius: 5ch;

}

.articulo3 {
    border: solid 5px #659d55;
    margin: 40px 500px 40px 106px;
    display: inline-block;
    margin-left: 0;
    padding-left: 0;
    border-radius: 5ch;

}