body{
    background-image: url('../pagina-propia/img/stars.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    height: 1800px;
    background-attachment: fixed;
    background-size: cover;
}

nav {
    display: inline-block;
    background-color: white;
    width: 100%;
    top: 20%;
    
}

nav ul li a{
    text-decoration: none;
    color: rgb(90, 81, 83);
    align-content: center;
    justify-content: center;
}
 
nav ul li{
    list-style: none;
}